$iconSize: 55px;

.shipcard {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  background-color: $black;
  /* striped bg */
  background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
  radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
  radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
  radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

  &.played {
    opacity: 0.3;
  }

  .ship-icon {
    height: 160px;
    position:relative;
    i {
      &.xwing-miniatures-ship {
        font-size: 200px;
        color: #fff;
        line-height: 160px;
      }
    }
    .ship-identifier{
      color:$white;
      font-size: ($iconSize/2);
      background: $gray-dark;
      width: $iconSize;
      height: $iconSize;
      line-height:$iconSize;
      border-radius: $iconSize $iconSize 0 0;
      position:absolute;
      bottom:0;
      right:10px;
    }
  }

  .bubble {
    position: relative;
    margin-top: 11px;
    width: $iconSize;
    height: $iconSize;
    border-radius: $iconSize;
    line-height: $iconSize;
    z-index: 2;
    font-size: 40px;
    &.skill {
      color: $skill-orange;
      font-weight: bold;
      float: left;
      background: $gray;
    }
    &.faction {
      float: right;
      background: $white;
      i {
        color: $black;
        font-size: 50px;
      }
    }
  }

  .ship-info {
    position: relative;
    background-color: $gray-light;
    background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, .5) 50%);
    background-size: 30px 5px;
    padding: 10px;
    .ship-text {
      background: $white;
      width: 90%;
      margin: 0 auto;
      position: relative;
      height: 80px;
      color: $black;
      z-index: 1;
      /* trapeze */
      -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
      clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);

      > div {
        position: relative;
        height: 50%;
      }
      .pilot {
        border-bottom: 2px $black dotted;
      }
    }
  }

  &.scum {
    .ship-info {
      background-color: $scum-brown;
    }
    .faction {
      background: $scum-brown;
      i {
        color: $white;
        font-size: 40px;
      }
    }
  }
  &.empire {
    .ship-info {
      background-color: $empire-blue;
    }
  }

  &.rebel {
    .faction {
      i {
        color: $rebel-red;
      }
    }
  }
}

.settings,
.play,
.list {
  .row {
    margin: 10px auto;
  }
}

#modal-body {
  #skill,
  #skill2 {
    &.changed {
      background-color: $brand-warning;
    }
  }
}

tr {
  &.success {
    color: $white;
  }
}

.play {
  .game-end {
    text-align: center;
    font-size: 50px;
  }
}

.home {
  .logo-text {
    font-size: 70px;
    font-weight: bold;
  }
}

.sticky-nav {
  position: fixed;
  top: 50px;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  z-index: 1000;
}