.row
    .col-md-12
        h2 {{'list.headline'|translate}}
.row
    .col-md-12
        div(class="btn-group pull-right")
            label(class="btn btn-primary" ng-model="checkModel" uib-btn-radio="'all'") {{'control.all' | translate}}
            label(class="btn btn-primary" ng-model="checkModel" uib-btn-radio="'empire'") {{'factions.galacticempire' | translate}}, {{'factions.firstorder' | translate}}
            label(class="btn btn-primary" ng-model="checkModel" uib-btn-radio="'rebel'") {{'factions.rebelalliance' | translate}}, {{'factions.resistance' | translate}}
            label(class="btn btn-primary" ng-model="checkModel" uib-btn-radio="'scum'") {{'factions.scumandvillainy' | translate}}
.row
    .col-md-12
        table(class="table table-striped edit-table")
            thead
                tr
                    th(ng-click="orderByField='name'; reverseSort = !reverseSort" ng-class="{'dropup': reverseSort}")
                        span {{'list.pilot-name'|translate}}
                        span.caret(ng-show="orderByField == 'name'")
                    th(ng-click="orderByField='skill'; reverseSort = !reverseSort" ng-class="{'dropup': reverseSort}")
                        span {{'list.pilot-skill'|translate}}
                        span.caret(ng-show="orderByField == 'skill'")
                    th(ng-click="orderByField='ship'; reverseSort = !reverseSort" ng-class="{'dropup': reverseSort}")
                        span {{'list.pilot-ship'|translate}}
                        span.caret(ng-show="orderByField == 'ship'")
                    th(ng-click="orderByField='faction'; reverseSort = !reverseSort" ng-class="{'dropup': reverseSort}")
                        span {{'list.pilot-faction'|translate}}
                        span.caret(ng-show="orderByField == 'faction'")
                    th
                        |{{'list.options'|translate}}

            tbody
                tr(ng-repeat="ship in $storage.ships | filter: selection | orderBy:orderByField:reverseSort")
                    td
                        i(ng-class="{'xwing-miniatures-font xwing-miniatures-font-unique': ship.unique}")
                        | {{ship | translatePilot}}
                    td
                        | {{ship.skill}} {{ship.skill2 ? '('+ship.skill2+')' : ''}}
                    td
                        | {{ship | translatePilotShip}} {{ship.identifier ? '('+ship.identifier+')' : ''}}
                    td
                        i.xwing-miniatures-font(ng-class="getFactionIcon(ship.faction)")
                        |{{ship.faction | translateFaction}}
                    td
                      .btn-group(role="group")
                          button(class="btn btn-danger" type="button" ng-click="destroyShip(ship)")
                              span(class="glyphicon glyphicon-remove" aria-hidden="true")
                          button(class="btn btn-primary" type="button" ng-click="openShipEdit(ship)")
                              span(class="glyphicon glyphicon-pencil" aria-hidden="true")

.row
    .col-md-8
        .add
            .form-group
                label {{'list.pilot-selection'|translate}}
                .input-group
                    select.form-control(ng-model="selectedItem" ng-change="updatePilotList()" ng-options="pilot as getOptions(pilot) for pilot in pilots | orderBy:orderByTranslatedPilotName ")
                        option(value="" selected) {{'list.pilot-select'|translate}}
                    .input-group-btn
                        button(class="btn btn-default" type="button" ng-click="quickAddShip()")
                            span {{'control.quickadd'|translate}}
                    .input-group-btn
                        button(class="btn btn-default" type="button" ng-click="addShip()")
                            span {{'control.add'|translate}}
