div(ng-show!="$storage.ships.length > 0  && !gameend")
    .row
        .col-md-12
            h2 {{'play.round' | translate}} {{$storage.settings.round}} - {{phaseHeadline}} {{'play.phase' | translate}}

    div(class="active-ships row")
        div(ng-repeat!="ship in $storage.ships | filter:{ active:true }" class="col-md-4 col-sm-6" ng-click="played(ship)")
            .shipcard(ng-class="getShipCardClasses(ship.faction,ship.played)")
                .ship-icon
                    i(class="xwing-miniatures-ship xwing-miniatures-ship-{{ship.ship | stripNonAlphaNumeric}}")
                    .ship-identifier(ng-show="ship.identifier != null")
                        |{{ship.identifier}}
                .ship-info
                    .skill.bubble {{(ship.skill2 && phase == 0 )? ship.skill2 : ship.skill}}
                    .faction.bubble
                        i.xwing-miniatures-font(ng-class="getFactionIcon(ship.faction)")
                    .ship-text
                        .pilot(data-fittext=".6")
                            i(ng-class="{'xwing-miniatures-font xwing-miniatures-font-unique': ship.unique}")
                            |{{ship | translatePilot}}
                        .ship(data-fittext=".6")
                            |{{ship | translatePilotShip}}

    .row
        .col-md-12
            .btn-group(role="group")
                button(type="button" class="btn btn-default btn-lg" ng-click="back()" ng-class="{'disabled': ships.indexOf(ship) == 0  } ") {{'control.back'|translate}}
                button(type="button" class="btn btn-primary btn-lg" ng-click="next()") {{'control.next'|translate}}
            button(type="button" class="btn btn-danger btn-lg pull-right" ng-click="restart()") {{'control.restart'|translate}}

    .row(ng-show!="$storage.settings.progressbar")
        .col-md-12
            .progress
                div(class="progress-bar progress-bar-danger" ng-style="progressStyle")

    .row(ng-show="playlist")
        .col-md-12
            h3 {{'play.ship-overview'|translate}}
            table(class="table table-striped")
                thead
                    tr
                        th {{'play.pilot-name'|translate}}
                        th {{'play.pilot-skill'|translate}}
                        th {{'play.pilot-ship'|translate}}
                        th {{'play.pilot-faction'|translate}}
                        th {{'play.options'|translate}}
                tbody
                    tr(ng-repeat="ship in $storage.ships" ng-class="{'success': ship.active}")
                        td
                            i(ng-class="{'xwing-miniatures-font xwing-miniatures-font-unique': ship.unique}")
                            |{{ship | translatePilot}}
                        td
                            |{{ship.skill}} {{ship.skill2 ? '('+ship.skill2+')' : ''}}
                        td
                            |{{ship | translatePilotShip}} {{ship.identifier ? '('+ship.identifier+')' : ''}}
                        td
                            |{{ship.faction | translateFaction}}
                        td
                          .btn-group(role="group")
                              button(class="btn btn-danger" type="button" ng-click="destroyShip(ship)")
                                  span(class="glyphicon glyphicon-remove" aria-hidden="true")
                              button(class="btn btn-primary" type="button" ng-click="openShipEdit(ship)")
                                  span(class="glyphicon glyphicon-pencil" aria-hidden="true")

.game-end(ng-show="gameend")
    .row
        .col-md-12
            i(class="xwing-miniatures-font xwing-miniatures-font-rebel" ng-show="won == 'rebel'")
            i(class="xwing-miniatures-font xwing-miniatures-font-empire" ng-show="won == 'empire'")
            i(class="xwing-miniatures-font xwing-miniatures-font-scum" ng-show="won == 'scum'")
            h1 {{'play.wins'|translate}}

.no-ships(ng-show!="$storage.ships.length == 0 && !gameend")
    .row
        .col-md-12
            div(class="alert alert-danger" role="alert" )
                != "{{'play.no-ships'|translate}}"
