.row
    .col-md-12
        h2 {{'settings.headline'|translate}}
.row
    .col-md-6
        div
            label {{'settings.language'|translate}}
            select.form-control( ng-model="selectedLanguage" ng-change="changeLanguage()" ng-options="language as language.name for language in languages ")
.row
    .col-md-6
        div
            label {{'settings.initiative'|translate}}
            select.form-control( ng-model="selectedInitiative" ng-change="changeInitiative()" ng-options="faction as getTranslatedFaction(faction) for faction in factions | orderBy:getTranslatedFaction")
.row
    .col-md-12
        .checkbox
            label
                input(type="checkbox" ng-model="$storage.settings.progressbar")
                |{{'settings.progressbar'|translate}}
.row
    .col-md-12
        .checkbox
            label
                input(type="checkbox" ng-model="$storage.settings.playlist")
                | {{'settings.playlist'|translate}}
.row
    .col-md-6
        .btn-group(role="group")
            button(type="button" class="btn btn-success " ng-click="exportSettings()") {{'settings.export-settings'|translate}}
            button(type="button" class="btn btn-warning " ng-click="importSettings()") {{'settings.import-settings'|translate}}

.row(ng-show="settingsSet")
    .col-md-12
        textarea.form-control(rows="6" ng-model="settingsData")
.row(ng-show="settingsData != null")
    .col-md-12
        |{{'settings.import-hint'|translate}}
.row(ng-show="importData")
    .col-md-6
        button(type="button" class="btn btn-primary " ng-click="import()") {{'settings.import'|translate}}

