 
.modal-header
  button.close(type="button" data-dismiss="modal" aria-label="Close")
    span(aria-hidden="true") &times;
  h3.modal-title#modal-title {{$ctrl.update | translatePilot}} - {{$ctrl.update | translatePilotShip}} {{($ctrl.item.identifier != "" && $ctrl.item.identifier !== undefined) ? "("+$ctrl.item.identifier+")" : ""}}
  h4(ng-show="$ctrl.translateScope == 'play'") {{'modal.roundchanges'|translate}}

.modal-body#modal-body
  .row(ng-show="$ctrl.translateScope == 'list'")
    .col-md-3
      .form-group
        label(for="identifier") {{'modal.identifier'|translate}}
        input.form-control#identifier(type="text" value="" name="identifier" ng-model="$ctrl.update.identifier")
  .row
    .col-md-6
      .form-group
        label(for="skill") {{'modal.pilot-skill'|translate}}
        .input-group
          input#skill(type="number" value="" name="skill" class="form-control" ng-model="$ctrl.update.skill" ng-class="($ctrl.item.skill != $ctrl.update.skill ? 'changed' : '')")
          span.input-group-btn
            button(class="btn btn-default" type="button" ng-click="$ctrl.update.skill = $ctrl.update.skill+2") +2
    .col-md-6
      .form-group(ng-show="$ctrl.skillAddition")
        label(for="skill") {{'modal.pilot-skill2'|translate}}
        input.form-control#skill(type="number" value="" name="skill" ng-model="$ctrl.update.skill2" ng-class="($ctrl.item.skill2 != $ctrl.update.skill2 ? 'changed' : '')")
  .row
    .col-md-6
      .form-group
        label
          input(type="checkbox" ng-model="$ctrl.skillAddition")
          |{{'modal.altskill'|translate}}
.modal-footer
  h4.pull-left(ng-show="$ctrl.translateScope == 'play'") {{'modal.roundchanges'|translate}}
  button(class="btn btn-primary" type="button" ng-click="$ctrl.ok()") {{'control.ok'|translate}}
  button(class="btn btn-warning" type="button" ng-click="$ctrl.reset()") {{'control.reset'|translate}}
