doctype
html(ng-app="xwingApp" manifest="app.manifest")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(property="og:description" content="A simple tool to help you and your friends to always get the right turn order of your pilots (especially helpful during a big epic game) for the X-Wing Miniatures Game by Fantasy Flight Games")
        meta(property="og:image" content="https://sragas.gitlab.io/xwing-helper/img/icons/apple-touch-icon-180x180.png")
        link(rel="stylesheet" href="css/app.css")
        script(type="text/javascript" src="js/libraries.js")
        script(type="text/javascript" src="js/app.js")
        title X-Wing Helper
        link(rel="shortcut icon" type="image/x-icon" href="img/icons/favicon.ico")
        link(rel="icon" type="image/x-icon" href="img/icons/favicon.ico")
        link(rel="icon" type="image/png" href="img/icons/favicon.png")
        link(rel="apple-touch-icon" href="img/icons/apple-touch-icon.png")
        link(rel="apple-touch-icon" href="img/icons/apple-touch-icon-57x57.png" sizes="57x57")
        link(rel="apple-touch-icon" href="img/icons/apple-touch-icon-72x72.png" sizes="72x72")
        link(rel="apple-touch-icon" href="img/icons/apple-touch-icon-114x114.png" sizes="114x114")
        link(rel="apple-touch-icon" href="img/icons/apple-touch-icon-144x144.png" sizes="144x144")
        link(rel="apple-touch-icon" href="img/icons/apple-touch-icon-152x152.png" sizes="152x152")
        link(rel="apple-touch-icon" href="img/icons/apple-touch-icon-180x180.png" sizes="180x180")
        link(rel="apple-touch-icon" href="img/icons/apple-touch-icon-precomposed.png")
        link(rel="icon" type="image/png" href="img/icons/favicon-16x16.png" sizes="16x16")
        link(rel="icon" type="image/png" href="img/icons/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="img/icons/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="img/icons/favicon-160x160.png" sizes="160x160")
        link(rel="icon" type="image/png" href="img/icons/favicon-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="img/icons/favicon-196x196.png" sizes="196x196")

    body(ng-controller="mainController")
        nav(class="navbar navbar-default")
            div.container-fluid
            div.navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#/")
                    span X
                    |-Wing

            div(class="collapse navbar-collapse" id="navbar-collapse-1")
                ul(class="nav navbar-nav navbar-left")
                    //li(ng-class="navigation == 'home' ? 'active' : ''")
                        a(href="#!/" translate) menu.home      
                    li(ng-class="navigation == 'play' ? 'active' : ''")
                        a(href="#!/play")
                            span(class="glyphicon glyphicon-play" aria-hidden="true")
                            != ' '
                            span(translate) menu.play
                    li(ng-class="navigation == 'list' ? 'active' : ''")
                        a(href="#!/list")
                            span(class="glyphicon glyphicon-th-list" aria-hidden="true")
                            != ' '
                            span(translate) menu.list
                ul(class="nav navbar-nav navbar-right")
                    li(ng-class="navigation == 'settings' ? 'active' : ''")
                        a(href="#!/settings")
                            span(class="glyphicon glyphicon-cog" aria-hidden="true")
                            != ' '
                            span(translate) menu.settings
                    li(ng-show="!isRunningInElectron()")
                        a(href="https://gitlab.com/sragas/xwing-helper/" target="_blank")
                            span(class="glyphicon glyphicon-question-sign" aria-hidden="true")
                            != ' '
                            span.visible-xs-inline(translate) menu.help

        div(class="wrapper container")
            div(ng-view class="{{navigation}}")
